/* #nav-bar-wrapper{
    display: flex;
    justify-content: space-evenly;
} */
body {
    background-image: url('../public/assets/cool-background.png');
    background-size: cover;
}

.feature-product-card{
    max-width: 100rem;
}

.product-card{
    max-width: 20rem;

}

.product-card:hover{
    max-width: 20rem;
    transform: scale(1.1);
}

.preorder-card-img{
    max-width: 20rem;
}
.profile-user-info{
    font-size: 18px;
}

#logo-navbar{
    max-width: 5rem;
}
/* .other-products-card:hover {
    transform: scale(1.2);
} */
/* #confirm_delete_user{
    opacity: 0.5;
} */