body {
    background-image: url('../public/assets/cool-background.png');
    background-size: cover;
}


.feature-product-card{
    max-width: 100rem;
}

.product-card{
    max-width: 20rem;
    transition: all 200ms ease-out;
}

.product-card:hover{
    background-color: rgb(73, 166, 242);
    max-width: 20rem;
    transform: scale(1.1);
    transition: all 200ms ease-in;
    
}

.preorder-card-img{
    max-width: 20rem;
}
.profile-user-info{
    font-size: 18px;
}

#logo-navbar{
    max-width: 5rem;
}