/* #nav-bar-wrapper{
    display: flex;
    justify-content: space-evenly;
} */

.product-card{
    max-width: 20rem;

}

.product-card:hover{
    max-width: 20rem;
    transform: scale(1.1);
}

.preorder-card-img{
    max-width: 10rem;
}
.profile-user-info{
    font-size: 18px;
}

/* .other-products-card:hover {
    transform: scale(1.2);
} */
/* #confirm_delete_user{
    opacity: 0.5;
} */